#main.container.container-fluid.playerPage
  .row
    #pageContent.col-xs-12
      .list-group.playerStatus
        %h2 Détails de l'aventurier
        .list-group-item
          .row.row-separation
            .col-xs-6.col-md-2.title
            .col-xs-2.col-md-1.title Min
            .col-xs-3.col-md-1.title Max
            .hidden-xs.col-md-2.title
            .hidden-xs.col-md-1.title Min
            .hidden-xs.col-md-1.title
            .hidden-xs.col-md-2.title
            .hidden-xs.col-md-1.title Min
            .hidden-xs.col-md-1.title Max

            = form_for @adventure, url: adventure_heros_path( @adventure ), method: :put do |a|
              .row.row-separation
                .col-xs-6.col-md-2.title Hp
                .col-xs-6.col-md-1= a.number_field :hp, class: 'form-control'
                .col-xs-6.col-md-1= a.number_field :hp_max, class: 'form-control'

                .col-xs-6.col-md-2.title Or
                .col-xs-6.col-md-1= a.number_field :gold, class: 'form-control'
                .col-xs-6.col-md-1

                .col-xs-6.col-md-2.title Gourdes
                .col-xs-6.col-md-1= a.number_field :waterskins, class: 'form-control'
                .col-xs-6.col-md-1= a.number_field :waterskins_max, class: 'form-control'

              .row.row-separation
                .col-xs-6.col-md-2.title Force
                .col-xs-6.col-md-1= a.number_field :strength, class: 'form-control'
                .col-xs-6.col-md-1= a.number_field :strength_max, class: 'form-control'

                .col-xs-6.col-md-2.title Rations
                .col-xs-6.col-md-1= a.number_field :rations, class: 'form-control'
                .col-xs-6.col-md-1

                .col-xs-6.col-md-2.title Charisme
                .col-xs-6.col-md-1= check_box_tag :charisma_avaliable, :charisma, class: 'form-control'
                .col-xs-6.col-md-1

              .row.row-separation
                .col-md-5
                .col-md-2
                  = submit_tag 'Update', class: 'form-control'

    #pageFooter.col-xs-12

= hidden_field_tag( :adventure_id, @adventure.id )