#main.container.container-fluid.playerPage
  .row
    #pageContent.col-xs-12
      .list-group.playerStatus
        %h2 Player Status
        .list-group-item
          .row
            - @data.in_groups_of( 2 ) do |group|
              - group.each do |e|
                .col-xs-6.col-md-3.title
                  = e[ :name ].to_s.capitalize
                .col-xs-6.col-md-3.values
                  %span.current
                    = e[ :base_col ]
                  - if e[ :max_col ]
                    \/
                    %span.max
                      = e[ :max_col ]
        %h2 Actions
        .list-group-item
          .row
            - HerosController::ACTIONS.in_groups_of( 2 ) do |group|
              - group.each do |e|
                .col-xs-6.col-md-3.title
                  = e[ :name ].to_s.capitalize
                .col-xs-6.col-md-3.values
                  .col-xs-6
                    %button{ name: "#{e[:code]}_plus" }
                      %span.glyphicon.glyphicon-plus
                  .col-xs-6
                    %button{ name: "#{e[:code]}_minus" }
                      %span.glyphicon.glyphicon-minus

    #pageFooter.col-xs-12