.page-header
  = link_to inventory_url( @adventure ), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-plus
    = t( '.back' )

  %h1= t( '.title' )

= form_tag '/inventories', method: :post, html: { class: "form-horizontal", role: "form" } do
  -if @adventure.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@adventure.errors.count, "error")} prohibited this item from being saved:"

      %ul
        - @adventure.errors.full_messages.each do |msg|
          %li= msg

  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th

      %tbody
        - @items.each do |item|
          %tr
            %td= item.name
            %td= check_box_tag( 'selected_items[]', item.id, @selected_items_ids.include?( item.id ) )

  .form-group
    .col-sm-offset-2.col-sm-10
      = submit_tag t( '.submit' ), class: 'btn btn-primary', disabled: false

  = hidden_field_tag :id, @adventure.id