.page-header
  = link_to page_links_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t( '.back' )
  = link_to edit_page_link_path(@page_link), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    = t( '.new' )
  %h1= t( '.show' ) + ' ' + 'page_link'

%dl.dl-horizontal
  %dt Text:
  %dd= @page_link.text
  %dt Src page:
  %dd= @page_link.src_page
  %dt Dst page:
  %dd= @page_link.dst_page
