#main
  #pageContent.col-xs-12

    %h2
      Mes possessions

    = render partial: 'adventures/errors', locals: { data: @adventure }
    = render partial: 'adventures/errors', locals: { data: @belonging }
    = render partial: 'adventures/errors', locals: { data: @belonging_history }

    = form_tag belongings_url do
      .row
        .col-12.mt-1.col-md-10
          = text_field_tag 'belonging[name]', '', class: 'form-control'
        .col-12.mt-1.col-md-2
          = submit_tag 'Ajouter', class: 'btn btn-secondary btn-block'

    .mt-3
      - @belongings.each do |belonging|
        .row.mt-1
          .col-10
            = belonging.name
          .col-2
            = link_to belonging_path( belonging ), data: { confirm: 'Etes vous sur ?' }, method: :delete, class: 'btn btn-danger btn-block' do
              %span
                = icon('fas', 'trash')

#pageFooter.col-xs-12