#main
  #pageContent.col-xs-12

    %h2
      Mes possessions

    = render partial: 'adventures/errors', locals: { data: @adventure }
    = render partial: 'adventures/errors', locals: { data: @belonging }
    = render partial: 'adventures/errors', locals: { data: @belonging_history }

    = form_tag belongings_url do
      .row
        .col-12.mt-1.col-md-8
          = text_field_tag 'belonging[name]', '', class: 'form-control'
        .col-6.mt-1.col-md-2
          = submit_tag 'Ajouter', class: 'btn btn-secondary btn-block'
        .col-6.mt-1.col-md-2
          = link_to 'Historique', '#', class: 'btn btn-secondary btn-block', role: 'button',  'aria-disabled' => true

    .mt-3
      - @belongings.each do |belonging|
        .row.mt-1
          .col-10
            = belonging.name
          .col-2
            = link_to belonging_path( belonging ), data: { confirm: 'Etes vous sur ?' }, method: :delete, class: 'btn btn-danger btn-block' do
              %span
                = icon('fas', 'trash')
    -#
    -#.list-group.row-separation
    -#  .list-group-item
    -#    .row.row-separation
    -#      .col-xs-6.col-md-6
    -#        Opposant
    -#      .col-xs-6.col-md-1
    -#        Dé 1
    -#      .col-xs-6.col-md-1
    -#        Dé 2
    -#      .col-xs-6.col-md-1
    -#        Force
    -#      .col-xs-6.col-md-1
    -#        Résultat
    -#
    -#    .row.row-separation
    -#      .col-xs-6.col-md-6
    -#        Prêtre Jean
    -#      .col-xs-6.col-md-1
    -#        = image_tag( 'dices/' + @hero.rolls[0].to_s + '.svg', class: 'game-log-die' )
    -#      .col-xs-6.col-md-1
    -#        = image_tag( 'dices/' + @hero.rolls[1].to_s + '.svg', class: 'game-log-die' )
    -#      .col-xs-6.col-md-1
    -#        = @hero.force
    -#      .col-xs-6.col-md-1
    -#        = @hero.attack_force
    -#
    -#    .row.row-separation
    -#      .col-xs-6.col-md-6
    -#        = @monster.name
    -#      .col-xs-6.col-md-1
    -#        = image_tag( 'dices/' + @monster.rolls[0].to_s + '.svg', class: 'game-log-die' )
    -#      .col-xs-6.col-md-1
    -#        = image_tag( 'dices/' + @monster.rolls[1].to_s + '.svg', class: 'game-log-die' )
    -#      .col-xs-6.col-md-1
    -#        = @monster.force
    -#      .col-xs-6.col-md-1
    -#        = @monster.attack_force

    -#= link_to 'Continuer', fights_path, class: 'btn btn-secondary', role: 'button',  'aria-disabled' => true

#pageFooter.col-xs-12