.page-header
  = link_to adventures_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t( '.back' )
  = link_to @adventure, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    = t( '.show' )
  %h1= t( '.editing' ) + ' ' + 'adventure'

= render 'form'
