-#.page-header
-#  = link_to new_adventure_path, class: 'btn btn-primary' do
-#    %span.glyphicon.glyphicon-plus
-#    = t( '.new' ) + ' ' + 'Aventure'
-#  %h1= t( '.listing' ) + ' ' + 'adventures'

-# Best way for responsive
-# http://stackoverflow.com/questions/25482765/bootstrap-change-image-according-to-device?answertab=active#tab-top

#main.container.container-fluid
  .row
    #homePageContent.col-xs-12
      .list-group.introduction

        %h2
          = t( '.title' )

        -#= link_to new_adventure_path, class: 'btn btn-primary' do
        -#  %span.glyphicon.glyphicon-plus
        -#  = t( '.new' )

        .list-group

          #availableAdventures.panel-group

            - @adventures.each_with_index do |adventure, index|
              .panel.panel-default
                %h4.panel-heading
                  .row
                    .col-md-6.col-xs-10
                      = link_to "#adventure_#{adventure.id}", class: 'adventureLink', 'data-toggle' => 'collapse', 'data-parent' => '#availableAdventures' do
                        %span{ class: 'adventureName' }
                          = adventure.book.name
                    .col-md-6.col-xs-2
                      = link_to adventure_play_path( adventure_id: adventure.id ) do
                        %span.glyphicon.glyphicon-play

                  .panel-collapse.collapse{ id: "adventure_#{adventure.id}" }
                    .panel-body
                      .row.status
                        .col-xs-12
                          = "Aventure commencée le #{adventure.created_at}."

                      .lastAdventureSummary
                        %span{ class: :text }
                          = print_summary( adventure )

                      .row.actions
                        .col-xs-12.remove
                          = link_to adventure, data: { confirm: t( '.are_you_sure' ) }, method: :delete do
                            %span{ class: 'glyphicon glyphicon-trash' }
