= form_for @adventure, html: { class: "form-horizontal", role: "form" } do |f|
  -if @adventure.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@adventure.errors.count, "error")} prohibited this adventure from being saved:"

      %ul
        - @adventure.errors.full_messages.each do |msg|
          %li= msg

  %h2
    = t( '.title' )


  .form-group
    = f.label :book, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :book_id, @books.map { |p| [ p.name, p.id ] }, class: 'form-control'

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'

