.page-header
  = link_to edit_adventure_url( adventure ), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    = t( '.edit' )

  = link_to adventure_roll_dices_url( adventure_id: adventure ), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-repeat
    = t( '.roll_dices' )

  %h1= t( '.title' )

.row
  .col-md-2
    = label_tag 'hp : '
    = adventure.hp

  .col-md-2
    = label_tag 'or : '
    = adventure.gold

  .col-md-2
    = label_tag 'rations : '
    = adventure.rations

  .col-md-2
    = label_tag 'gourdes : '
    = adventure.gourdes

  .col-md-2
    = label_tag 'charisme : '
    = adventure.charisme ? 'disponible' : 'utilisé'

- unless @page.monsters.empty?
  = link_to adventure_fight_url( adventure, f_type: :seq ), class: 'btn btn-warning' do
    %span.glyphicon.glyphicon-option-vertical
    = t( '.fight_seq' )

  = link_to adventure_fight_url( adventure, f_type: :togeth ), class: 'btn btn-warning' do
    %span.glyphicon.glyphicon-option-horizontal
    = t( '.fight_togeth' )

  = link_to adventure_fight_url( adventure, f_type: :spe ), class: 'btn btn-warning' do
    %span.glyphicon.glyphicon-asterisk
    = t( '.fight_spe' )

- @page.text.each do |txt|
  %p= raw txt