%h2
  = t( '.title' )

.my-3
  = link_to play_adventures_path, class: 'btn btn-secondary mr-3' do
    %span
      = icon('fas', 'dungeon')
    Jouer

  = link_to reroll_adventures_path, class: 'btn btn-warning mr-3' do
    %span
      = icon('fas', 'dice')
    Relancer (normal)

  = link_to reroll_adventures_path( difficulty: :easy ), class: 'btn btn-success mr-3' do
    %span
      = icon('fas', 'dice-six')
    Relancer (façile)

  = link_to reroll_adventures_path( difficulty: :hard ), class: 'btn btn-danger mr-3' do
    %span.glyphicon.glyphicon-refresh
      = icon('fas', 'dice-one')
    Relancer (hardcore)

.row
  .col-2
    Book
  .col-10
    = @adventure.book.name

.row
  .col-2
    Hp
  .col-10
    = @adventure.hp

.row
  .col-2
    Force
  .col-10
    = @adventure.strength

.row
  .col-2
    Or
  .col-10
    = @adventure.gold
