= form_for @aventure, html: { class: "form-horizontal", role: "form" } do |f|
  -if @aventure.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@aventure.errors.count, "error")} prohibited this aventure from being saved:"

      %ul
        - @aventure.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :book, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :book, class: 'form-control'
  .form-group
    = f.label :pages, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :pages, class: 'form-control'
  .form-group
    = f.label :hp, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :hp, class: 'form-control'
  .form-group
    = f.label :force, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :force, class: 'form-control'
  .form-group
    = f.label :gold, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :gold, class: 'form-control'
  .form-group
    = f.label :gourdes, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :gourdes, class: 'form-control'
  .form-group
    = f.label :gourdes_remplies, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :gourdes_remplies, class: 'form-control'
  .form-group
    = f.label :rations, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :rations, class: 'form-control'
  .form-group
    = f.label :charisme, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :charisme, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
