.page-header
  = link_to new_aventure_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t( '.new' ) + ' ' + 'Aventure'
  %h1= t( '.listing' ) + ' ' + 'aventures'

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Book
        %th Pages
        %th Hp
        %th Force
        %th Gold
        %th Gourdes
        %th Gourdes remplies
        %th Rations
        %th Charisme
        %th
        %th
        %th

    %tbody
      - @aventures.each do |aventure|
        %tr
          %td= aventure.book
          %td= aventure.pages
          %td= aventure.hp
          %td= aventure.force
          %td= aventure.gold
          %td= aventure.gourdes
          %td= aventure.gourdes_remplies
          %td= aventure.rations
          %td= aventure.charisme
          %td= link_to t( '.show' ), aventure
          %td= link_to t( '.edit' ), edit_aventure_path(aventure)
          %td= link_to t( '.destroy' ), aventure, data: { confirm: t( '.are_you_sure' ) }, method: :delete
