.page-header
  = link_to edit_aventure_url( @aventure ), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    = t( '.edit' )

  = link_to aventure_roll_dices_url( aventure_id: @aventure ), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-repeat
    = t( '.roll_dices' )

  %h1= t( '.title' )

- @page.text.each do |txt|
  %p= txt

%ul
  - @page.page_links.each do |pl|
    %li= link_to( pl.text, aventure_read_choice_url( @aventure, pl.dst_page_id ) )
