.page-header
  = link_to books_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t( '.back' )
  = link_to @book, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    = t( '.show' )
  %h1= t( '.editing' ) + ' ' + 'book'

= render 'form'
