.page-header

  %h1= t( '.log' )

- @log.each do |log|
  - if log.log_type == GameLog::JOURNEY
    %p= raw log.page.text.first.gsub( /<a.+">/, '' ).gsub( '</a>', '' )

  - elsif log.log_type == GameLog::FIGHT
    %p= raw log_fight_message( log )

  - elsif log.log_type == GameLog::ADVENTURE_UPDATE
    %p= log_adventure_update_message( log )

  - else
    - raise "Unknown log type : #{log.inspect}"

  %hr

= will_paginate @log, renderer: BootstrapPagination::Rails

