#main
  #pageContent.col-xs-12

    = form_for [@adventure, @fight] do |f|

      .list-group
        %h2= @title
        .list-group-item
          .row.row-separation
            .col-xs-6.col-md-6
              Nom de l'opposant
            .col-xs-6.col-md-2
              Force
            .col-xs-6.col-md-2
              Vie
            .col-xs-6.col-md-2
              Avantage

          - 1.upto(5).each do |index|
            .row.row-separation
              .col-xs-6.col-md-6
                = f.text_field "opponent_#{index}_name", class: 'form-control', readonly: @read_only
              .col-xs-6.col-md-2
                = f.number_field "opponent_#{index}_strength", class: 'form-control', readonly: @read_only
              .col-xs-6.col-md-2
                = f.number_field "opponent_#{index}_life", class: 'form-control', readonly: @read_only
              .col-xs-6.col-md-2
                = f.number_field "opponent_#{index}_adv", class: 'form-control', readonly: @read_only

      - unless @read_only
        .col-md-2
          = f.submit 'Créer', class: 'form-control'

  #pageFooter.col-xs-12