.page-header
  = link_to adventure_play_url( adventure_id: @adventure.id ), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t( '.back' )

  %h1= t( '.title' )

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Monstre
        %th Force
        %th Vie
        %th
        %th

    %tbody
      - @fight_monsters.each do |fight_monster|
        %tr
          %td= fight_monster.monster.name
          %td= fight_monster.monster.strength
          %td= fight_monster.hp
          %td
            = link_to fight_fight_monster_url( @adventure, fight_monster_id: fight_monster.id ), method: :patch, class: 'btn btn-danger' do
              %span.glyphicon.glyphicon-screenshot
              = t( '.fight_monster' )
          %td
            = link_to fight_add_monster_url( @adventure, monster_id: fight_monster.monster_id ), method: :patch, class: 'btn btn-danger' do
              %span.glyphicon.glyphicon-plus
              = t( '.add_monster' )
          %td
            = link_to fight_remove_monster_url( @adventure, fight_monster_id: fight_monster.id ), method: :patch, class: 'btn btn-success' do
              %span.glyphicon.glyphicon-minus
              = t( '.remove_monsters' )

