%li.dropdown
  %a.dropdown-toggle{ href: '#', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false }
    Event
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :hp, edit_action: :up ) do
        %span.glyphicon.glyphicon-heart
        -#= image_tag( "dices/1.svg", class: :icon )
        -# Find icons at : http://game-icons.net/tags/body.html
        = t( '.earn_life' )
    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :hp, edit_action: :down ) do
        %span.glyphicon.glyphicon-heart
        = t( '.loose_life' )

    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :hp_max, edit_action: :up ) do
        %span.glyphicon.glyphicon-heart
        = t( '.increase_max_life' )
    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :hp_max, edit_action: :down ) do
        %span.glyphicon.glyphicon-heart
        = t( '.decrease_max_life' )

    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :strength, edit_action: :up ) do
        %span.glyphicon.glyphicon-user
        = t( '.increase_strength' )
    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :strength, edit_action: :down ) do
        %span.glyphicon.glyphicon-user
        = t( '.decrease_strength' )

    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :strength_max, edit_action: :up ) do
        %span.glyphicon.glyphicon-user
        = t( '.increase_strength_max' )
    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :strength_max, edit_action: :down ) do
        %span.glyphicon.glyphicon-user
        = t( '.decrease_strength_max' )
        

    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :gold, edit_action: :up ) do
        %span.glyphicon.glyphicon-piggy-bank
        = t( '.earn_gold' )
    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :gold, edit_action: :down ) do
        %span.glyphicon.glyphicon-piggy-bank
        = t( '.loose_gold' )
        
    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :rations, edit_action: :up ) do
        %span.glyphicon.glyphicon-cutlery
        = t( '.gain_rations' )
    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :rations, edit_action: :down ) do
        %span.glyphicon.glyphicon-cutlery
        = t( '.eat_rations' )

    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :waterskins, edit_action: :up ) do
        %span.glyphicon.glyphicon-tint
        = t( '.increase_waterskins' )
    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :waterskins, edit_action: :down ) do
        %span.glyphicon.glyphicon-tint
        = t( '.decrease_waterskins' )

    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :waterskins_max, edit_action: :up ) do
        %span.glyphicon.glyphicon-tint
        = t( '.increase_waterskins_max' )
    %li
      = link_to edit_adventure_tracker_url( @adventure, edit_typ: :waterskins_max, edit_action: :down ) do
        %span.glyphicon.glyphicon-tint
        = t( '.decrease_waterskins_max' )

    %li
      = link_to edit_adventure_tracker_url( @adventure, charisma_avaliable: false ) do
        %span.glyphicon.glyphicon-eye-open
        = t( '.use_charisma' )
