#mainMenu
  .row

    - if @user&.id
      .col-sm-2.col-3.col-lg-1
        = link_to list_adventures_path, 'data-toggle' => 'tooltip', title: 'Liste des aventures' do
          %button
            =image_tag 'icons/book-cover.svg', class: 'menu-icon'

    - if @adventures
      .col-sm-2.col-3.col-lg-1
        = link_to new_adventures_path, 'data-toggle' => 'tooltip', title: 'Créer une aventure' do
          %button
            =image_tag 'icons/spell-book.svg', class: 'menu-icon'

    - if @adventure&.id
      = render partial: 'layouts/menu_adventure'

    - if @user&.id
      .col-sm-2.col-3.col-lg-1
        = link_to destroy_user_session_path, method: :delete, 'data-toggle' => 'tooltip', title: 'Se déconnecter' do
          %button
            -#=image_tag 'icons/cavalry.svg', class: 'menu-icon'
            =image_tag 'icons/exit-door.svg', class: 'menu-icon'

    - unless @user
      .col-sm-2.col-3.col-lg-1
        = link_to new_user_session_path, 'data-toggle' => 'tooltip', title: 'Log in' do
          %button
            -#=image_tag 'icons/cavalry.svg', class: 'menu-icon'
            =image_tag 'icons/arabic-door.svg', class: 'menu-icon'

    -#.col-sm-2.col-3.col-lg-1
    -#  = link_to items_url do
    -#    %button
    -#      =image_tag 'icons/stabbed-note.svg', class: 'menu-icon'
    -#
    -#.col-sm-2.col-3.col-lg-1
    -#  = link_to pages_url do
    -#    %button
    -#      =image_tag 'icons/scroll-unfurled.svg', class: 'menu-icon'